@media (max-width:1920px) {
    .header {
        margin-bottom: 0px;
    }
    .header-top {
        margin-bottom: 40px;
    }
    .header__content-title {
        margin-bottom: 90px;
    }
    .about {
        padding: 140px 0px;
    }
    .about__title:after,
    .program_title::before {
        display: none;
    }
    .about__items {
        margin: 0px 50px;
    }
    .program {
        padding-bottom: 140px;
    }
    .tour {
        padding-bottom: 140px;
    }
    .tour__content {
        margin-bottom: 100px;
    }
}

@media (max-width:1600px) {
    .about__items {
        margin: 0px;
    }
}

@media (max-width:1400px) {
    .about__item {
        margin: 0px 15px 20px;
    }
    .program-slider__item-info {
        max-width: 600px;
        padding-top: 0;
        padding-right: 20px;
    }
    .program-slider__day {
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 50px;
    }
    .program-slider__title {
        font-size: 36px;
        line-height: 59px;
        margin-bottom: 50px;
    }
    .program-slider__description {
        font-size: 22px;
        line-height: 33px;
    }
    .program-dots {
        bottom: -35px;
    }
    .tour__subcription-title {
        margin-bottom: 100px;
    }
    .tour__form {
        display: flex;
        flex-direction: column;
    }
    .tour__form-input {
        border-right: 3px solid #fff;
        text-align: center;
    }
    .tour__form-input,
    .tour__form-btn {
        margin: 20px auto;
    }
}

@media (max-width:1200px) {
    .menu__list li+li {
        padding-left: 50px;
    }
    .title {
        font-size: 75px;
        line-height: 122px;
    }
    .header__content-title,
    .about__title,
    .program__title {
        margin-bottom: 75px;
    }
    .header__content-btn {
        padding: 30px 50px;
    }
    .about {
        padding: 75px 0px;
    }
    .program-slider__item-images img {
        max-width: 450px;
    }
    .program-dots {
        bottom: 110px;
        right: 125px;
    }
    .tour__subcription-title {
        font-size: 36px;
        line-height: 54px;
    }
}

@media (max-width:1097px) {
    .about__item {
        justify-content: space-around;
    }
    .program-slider__day {
        font-size: 22px;
        line-height: 33px;
    }
    .program-slider__title {
        font-size: 26px;
        line-height: 39px;
    }
    .program-slider__description {
        font-size: 18px;
        line-height: 27px;
    }
    .program-slider__item-info {
        max-width: 500px;
    }
    .program-slider__item-images img {
        max-width: 350px;
    }
    .program-slider__btn {
        margin: 0px 0px 46px 58px;
    }
    .program-slider .slick-prev {
        bottom: 83px;
        left: 57px;
        padding: 25px 78px;
    }
    .program-slider .slick-next {
        bottom: 83px;
        left: 269px;
        padding: 25px 78px;
    }
    .program-slider__btn span {
        font-size: 18px;
    }
    .program-slider__link {
        font-size: 18px;
        line-height: 27px;
    }
    .program-dots {
        bottom: 15px;
        right: 75px;
    }
}

@media (max-width:900px) {
    .menu__list {
        display: none;
        position: absolute;
        left: 0px;
        top: 180px;
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 1;
    }
    .menu__list li+li {
        padding-left: 0;
    }
    .menu__list a {
        display: block;
        padding: 90px 0px;
        font-size: 56px;
        font-weight: 700;
    }
    .menu__btn {
        display: flex;
        position: relative;
    }
    .program__title,
    .tour__title,
    .tour__content {
        margin-bottom: 50px;
    }
    .program-slider__item-content {
        display: block;
    }
    .program-slider__item-info {
        max-width: 100%;
    }
    .program-slider__day {
        margin-bottom: 20px;
    }
    .program-slider__title {
        font-size: 24px;
        line-height: 29px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .program-slider__description {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .program-slider__btn {
        margin: 0px 0px 20px 0px;
    }
    .program-slider__link {
        margin-bottom: 20px;
    }
    .program-slider .slick-prev,
    .program-slider .slick-next {
        bottom: 462px;
    }
    .program-slider .slick-prev {
        left: 0px;
    }
    .program-slider .slick-next {
        left: 190px;
    }
    .program-slider__item-images img {
        text-align: center;
        margin: 0 auto;
    }
    .program-dots {
        bottom: -35px;
        left: 50%;
        transform: translateX(-25%);
    }
    .tour__subtitle,
    .tour__content-title,
    .tour__subcription-title {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 50px;
    }
    .tour-buy {
        flex-direction: column;
    }
    .tour-buy__price {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 15px;
    }
    .tour-buy__btn {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 40px;
    }
    .tour-buy__text {
        display: none;
    }
    .tour__content {
        flex-direction: column;
    }
    .tour__content-info {
        margin-bottom: 50px;
    }
    .tour__content-list li,
    .tour__content-date {
        font-size: 18px;
        line-height: 27px;
    }
    .tour__content-date__subtitle {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width:768px) {
    .title {
        font-size: 60px;
        line-height: 90px;
    }
    .header__content-btn {
        margin-bottom: 50px;
    }
    .header__content-icons {
        position: static;
        margin-bottom: 50px;
    }
    .about {
        padding: 60px 0px 60px;
    }
    .about__title {
        padding: 60px;
    }
    .about__items {
        display: block;
    }
    .about__item {
        width: 100%;
        margin: 0px 0px 15px;
    }
    .tour-buy {
        height: 180px;
        margin-bottom: 50px;
    }
    .tour-buy__price {
        display: none;
    }
    .tour-buy__btn {
        margin: 0;
        padding: 25px 50px;
    }
    .tour__content-info {
        width: 100%;
    }
    .tour__subcription-title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 50px;
    }
}

@media (max-width:515px) {
    .program-slider__item-info {
        padding: 0;
    }
    .program-slider__day,
    .program-slider__title,
    .program-slider__description,
    .program-slider__link {
        text-align: center;
    }
    .program-slider__btn {
        display: none;
    }
}

@media (max-width:500px) {
    .title {
        font-size: 50px;
        line-height: 75px;
    }
    .about__title,
    .program__title {
        margin-bottom: 50px;
    }
    .program-dots {
        transform: translateX(-50%);
    }
    .tour__subtitle,
    .tour__content-title {
        font-size: 25px;
        line-height: 38px;
    }
    .tour-buy__btn,
    .tour__subcription-title,
    .tour__form-input::placeholder,
    .tour__form-btn {
        font-size: 20px;
        line-height: 30px;
    }
    .tour__form-input {
        height: 80px;
    }
    .tour-buy__btn,
    .tour__form-btn {
        padding: 20px 60px;
    }
}

@media (max-width:414px) {
    .header-top {
        height: 130px;
        margin-bottom: 5px;
    }
    .header__logo a {
        font-size: 35px;
        line-height: 52px;
    }
    .title {
        font-size: 40px;
        line-height: 60px;
    }
    .header__content-btn {
        padding: 10px 20px;
        margin-bottom: 25px;
    }
    .mouse {
        padding: 3px 7px;
        height: 30px;
    }
    .header__content-icons {
        margin-bottom: 25px;
    }
    .menu__list {
        top: 120px;
    }
    .menu__list a {
        padding: 50px 0px;
        font-size: 34px;
    }
    .about__title,
    .program__title,
    .tour__title {
        margin-bottom: 40px;
    }
    .program {
        padding-bottom: 40px;
    }
    .tour__content {
        margin-bottom: 30px
    }
    .tour__content-title {
        font-size: 22px;
        line-height: 24px;
    }
    .tour__subcription-title {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .tour__form-input {
        padding: 0;
    }
    .tour-buy {
        height: 150px;
    }
}

@media (max-width:375px) {
    .header__content-title {
        margin-bottom: 50px;
    }
    .menu__list a {
        padding: 45px 0p;
    }
    .program-dots {
        transform: translateX(-8 0%)
    }
}

@media (max-width:320px) {
    .title {
        font-size: 30px;
        line-height: 45px;
    }
    .header__content-title {
        margin-bottom: 50px;
    }
    .menu__list a {
        padding: 40px 0px;
        font-size: 24px;
    }
    .header__content-btn {
        padding: 10px 20px;
        margin-bottom: 25px;
    }
    .about {
        padding: 30px 0px 30px;
    }
    .program__title,
    .tour__title {
        margin-bottom: 30px;
    }
    .program-dots {
        transform: translateX(-50%)
    }
    .tour-buy {
        height: 125px;
    }
}

@media (min-width:901px) {
    .menu__list {
        display: flex !important;
    }
}